<div class="container">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>


  <%= form_for(@user) do |f| %>
    <div class="container" style="width: 100%">
      <div class="row">
        <div class="col s6 offset-s3 z-depth-4 brown darken-3 four-side form-margin">
        <h5 id="form-font" class="center grey-text text-lighten-3">Signup</h5>
        <div class="input-field">
          <div class="container">
            <%= f.label :user_name %>
            <%= f.text_field :user_name %>
          </div>
        </div>

        <div class="input-field">
          <div class="container">
            <%= f.label :name %>
            <%= f.text_field :name %> 
          </div>
        </div>

        <div class="input-field">
          <div class="container">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
        </div>
        
        <div class="input-field">
          <div class="container">
            <%= f.label :mod %>
            <%= f.number_field :mod %>
          </div>
        </div>

        <div class="input-field">
          <div class="container">
            <%= f.label :bio %>
            <%= f.text_area :bio, class: "materialize-textarea" %>
          </div>
        </div>
        
        <div class="input-field">
          <div class="container">
            <%= f.label :location %>
            <%= f.text_field :location %>
          </div>
        </div>

        <div class="container">
          <a class="btn grey waves-effect waves-light btn-margin z-depth-3" style="width: 100%"><%= f.submit "Signup"%></a>
        </div>
        </div>
      </div>
    </div>

  <% end %>