<div class="container">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>


  <%= form_for(@user) do |f| %>
  <div class="container">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :mod %>
    <%= f.number_field :mod %>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <%= f.label :location %>
    <%= f.text_field :location %>

    <a class="btn waves-effect"><%= f.submit %></a>
  </div>

  <% end %>