<h1><%= @user.name %></h1>
<p><strong>Location:</strong> <%= @user.location %></p>
<p><strong>Mod:</strong> <%= @user.mod %></p>
<p><strong>Bio:</strong> <%= @user.bio %> </p>

<% if @user == @current_user %>
    <p><strong><%= link_to 'Create Post', new_post_path %></strong></p>
<% end %>

<ul>
<% Post.recent_posts.each do |post|%>
    <li><%= link_to post.title, post_path(post) %>
<% end %>
</ul>