<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= bootstrap_form_for(@post) do |f| %>
  <%= f.text_field :title %><br>
  <%= f.collection_select :user_id, User.all, :id, :name %><br>
  <%= f.text_field :content_url %><br>
  <%= f.collection_select :category, @categories, :itself, :itself %><br><br>

  <%= f.submit %>
<% end %>