<!DOCTYPE html>
<html>
  <head>
    <title>The Connoisseurs Lounge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <div class="container">
      <% if @current_user %>
    <ul id="mod1" class="dropdown-content" style="height: 100%">
        <li><%= link_to "Mod 1 Articles", mod1_articles_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Mod 1 Videos", mod1_videos_path %></li>
    </ul>
    <ul id="mod2" class="dropdown-content">
        <li><%= link_to "Mod 2 Articles", mod2_articles_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Mod 2 Videos", mod2_videos_path %></li>
    </ul>
    <ul id="mod3" class="dropdown-content">
        <li><%= link_to "Mod 3 Articles", mod3_articles_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Mod 3 Videos", mod3_videos_path %></li>
    </ul>
    <ul id="mod4" class="dropdown-content">
        <li><%= link_to "Mod 4 Articles", mod4_articles_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Mod 4 Videos", mod4_videos_path %></li>
    </ul>
    <ul id="mod5" class="dropdown-content">
        <li><%= link_to "Mod 5 Articles", mod5_articles_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Mod 5 Videos", mod5_videos_path %></li>
    </ul> 
    <nav class="nav-wrapper z-depth-0 transparent" id="navfont">
      <a href="" class="dropdown-trigger brown-test-darken" data-target="mod1" style="padding-left: 25px">Mod1</a>
      <a href="" class="dropdown-trigger" data-target="mod2" style="padding-left: 10px">Mod2</a>
      <a href="" class="dropdown-trigger" data-target="mod3" style="padding-left: 10px">Mod3</a>
      <a href="" class="dropdown-trigger" data-target="mod4" style="padding-left: 10px">Mod4</a>
      <a href="" class="dropdown-trigger" data-target="mod5" style="padding-left: 10px">Mod5</a>
      
      <ul class="right">
        <li><%= link_to 'Home Page', posts_path %></li>
        <li><%= link_to 'Profile Page', user_path(session[:user_id]) %></li>
        <li><%= link_to 'Connoisseurs', users_path %></li>
        <li style="padding-right: 15px"><%= link_to 'Logout', logout_path, method: :delete %></li>
      </ul>
    </nav>
    <% end %>
      <%= yield %>


    <!-- Minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
      $(document).ready(function(){
        $(".dropdown-trigger").dropdown({hover: false, constrainWidth: true});
      });
    </script>
  </div>
  </body>
</html>